@mixin font($size: 1.6rem, $height: 2.1rem, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin pattern($size: 1.6rem) {
  color: $white;
  font-size: $size;
  font-family: $pattern;
  line-height: 0.96;
  text-transform: uppercase;
  font-weight: 500;
}
