.actions {
  margin: 0 0 16.1rem;
  overflow: hidden;

  .container {
    position: relative;
  }

  &__small-container {
    max-width: 124rem !important;
  }

  &__slider {
    margin: 0 0 15.4rem;
  }

  &__slide {
    opacity: 0.5;
    border-radius: 30px;
    overflow: hidden;

    img {
      opacity: 1;
    }
  }

  .swiper-slide-prev,
  .swiper-slide-active,
  .swiper-slide-next {
    opacity: 1;
  }

  &__arrow {
    position: absolute;
    top: 11.6rem;
    z-index: 10;

    &--prev {
      left: -3.5rem;
    }

    &--next {
      right: -2.7rem;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__decor {
    width: 46rem;
    flex-shrink: 0;
    margin-left: 4rem;
    margin-top: -4rem;
  }

  &__blocks {
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    max-width: 60.5rem;
  }

  &__block {
    width: calc(50% - 3.7rem);
    height: 18.2rem;
    border-radius: 30px;
    background-color: $purple;
    padding: 2.7rem 1rem 3.5rem;

    &:nth-child(2),
    &:nth-child(4) {
      margin-top: 4rem;
      margin-left: 3.7rem;
    }

    &--pink {
      background-color: $pink;
    }
    &--orange {
      background-color: $orange;
    }
    &--red {
      background-color: $red;
    }
    &--green {
      background-color: $green;
    }
  }

  &__block-title {
    @include pattern(3.5rem);
    text-align: center;
    margin: 0 0 1.5rem;
    line-height: 1.1;
  }

  &__block-text {
    font-size: 2rem;
    text-align: center;
  }
}
