.faq {
  padding: 18.1rem 0 33rem;
  overflow: hidden;

  @media (max-width: $tablet) {
    padding: 9.5rem 0 19.3rem;
  }

  @media (max-width: $mobile) {
    padding: 10.2rem 0 26rem;
  }

  .container {
    position: relative;
  }

  &__decor {
    position: absolute;

    &--top-right {
      right: -1.9rem;
      top: -5.9rem;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    &--bottom-right {
      bottom: -38.7rem;
      right: 15.2rem;
      z-index: 2;

      @media (max-width: $tablet) {
        width: 19.4rem;
        height: 17.1rem;
        bottom: -21rem;
        right: 2.5rem;
      }

      @media (max-width: $mobile) {
        bottom: -28rem;
        right: 1.5rem;
      }
    }

    &--bottom-left {
      bottom: -23rem;
      left: 3.5rem;

      @media (max-width: $tablet) {
        width: 13.9rem;
        height: 8.6rem;
        bottom: -12rem;
        left: 8.5rem;
      }

      @media (max-width: $mobile) {
        width: 13.4rem;
        height: 8.3rem;
        bottom: -13.2rem;
        left: 1.4rem;
      }
    }
  }

  &__title-cont {
    display: flex;
    justify-content: center;
  }

  &__title {
    margin: 0 0 11rem;
    padding-left: 3.4rem;
    padding-right: 3.4rem;

    @media (max-width: $tablet) {
      margin: 0 0 6.2rem;
    }

    @media (max-width: $mobile) {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
      padding-top: 0.5rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 4.4rem;

    @media (max-width: $tablet) {
      gap: 2rem;
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      gap: 2.8rem;
    }
  }

  &__item {
    position: relative;
    min-height: 38.7rem;
    color: $black;
    padding: 1.7rem 3rem 1.7rem 2.5rem;

    @media (max-width: $tablet) {
      min-height: 21.3rem;
      border-radius: 1.9rem;
      padding: 1rem 2.4rem 1rem 1.5rem;
    }

    @media (max-width: $mobile) {
      min-height: unset;
      padding: 1.8rem 1.4rem 8rem 2.4rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      border-radius: 30px;
      transition: all .2s ease-in;
      z-index: 2;
    }

    &.show {
      &:before {
        background-color: $red;
      }

      @media (max-width: $mobile) {
        padding-bottom: 6.7rem;
      }

    }

    &:hover {
      @media (min-width: $desktopFirst) {
        &:before {
          transform: scale(1.05);
        }
      }
    }
  }

  &__item-descr {
    position: relative;
    display: none;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 500;
    color: $white;
    pointer-events: none;
    z-index: 3;

    @media (max-width: $tablet) {
      font-size: 0.9rem;
      line-height: 1.2;
    }

    @media (max-width: $mobile) {
      font-size: 1.4rem;
      padding-right: 1rem;
    }

    .show & {
      display: block;
      pointer-events: initial
    }
  }

  &__item-title {
    position: relative;
    @include pattern(3.4rem);
    line-height: 1.2;
    color: $purple;
    z-index: 3;

    @media (max-width: $tablet) {
      font-size: 2rem;
      line-height: 1.2;
    }

    @media (max-width: $mobile) {
      font-size: 2.3rem;
    }

    .show & {
      color: $white;
      font-size: 2.4rem;
      line-height: 1.25;
      margin: 0 0 3rem;

      @media (max-width: $tablet) {
        font-size: 1.5rem;
        line-height: 1.2;
        margin: 0 0 1.8rem
      }

      @media (max-width: $mobile) {
        font-size: 2.3rem;
        margin: 0 0 0.6rem
      }
    }
  }

  &__arrow {
    position: absolute;
    bottom: 1.8rem;
    right: 1.4rem;
    color: $purple;
    transition: all 0.2s ease-in-out;
    z-index: 3;

    @media (max-width: $tablet) {
      width: 3.3rem;
      height: 3.3rem;
      bottom: 1.4rem;
      right: 1rem;
    }

    @media (max-width: $mobile) {
      width: 5.2rem;
      height: 5.2rem;
      bottom: 1.7rem;
      right: 1.4rem;
    }

    .show & {
      transform: rotate(180deg);
      color: $white;
      path {
        fill: $purple;
      }

    }
  }
}
