.hero {
  overflow: hidden;
  margin: 0 0 15.7rem;
  padding: 0 0 4rem;

  @media (max-width: $tablet) {
    margin: 0 0 6rem;
  }

  @media (max-width: $mobile) {
    padding: 0 0 3.5rem;
  }

  &__main {
    position: relative;
    margin: 0 auto;
    padding-bottom: 20rem;
    margin-top: 15.3rem;
    margin-bottom: 9rem;
    max-width: 95.7rem;

    @media (max-width: $tablet) {
      margin-top: 17.3rem;
      margin-bottom: 19.4rem;
    }

    @media (max-width: $mobile) {
      margin-top: 15.3rem;
      margin-bottom: 15.6rem;
    }
  }

  &__name {
    @include pattern(12.7rem);
    text-align: center;

    @media (max-width: $tablet) {
      font-size: 7.7rem;
    }

    @media (max-width: $mobile) {
      font-size: 4.5rem;
    }
  }

  .title {
    @media (max-width: $tablet) {
      min-width: 39.3rem;
      margin: 0 0 7.9rem;
    }

    @media (max-width: $mobile) {
      min-width: 26.9rem;
      margin: 0 0 4.4rem;
    }

  }

  &__decor {
    position: absolute;

    &--mobile-circle {
      display: none;

      @media (max-width: $mobile) {
        display: block;
        width: 4rem;
        height: 4rem;
        top: -12.6rem;
        right: 2.5rem;
      }
    }

    &--left-top {
      top: -5.8rem;
      left: 1.7rem;

      @media (max-width: $tablet) {
        width: 10.1rem;
        height: 9.7rem;
        top: -9.5rem;
        left: 7.5rem;
      }

      @media (max-width: $mobile) {
        width: 6.9rem;
        height: 6.5rem;
        top: -7.3rem;
        left: 0.9rem;
      }

    }

    &--right-top {
      top: -8.9rem;
      right: -11.9rem;

      @media (max-width: $tablet) {
        width: 11.2rem;
        height: 6.9rem;
        top: -12.4rem;
        right: 4.6rem;
      }

      @media (max-width: $mobile) {
        width: 11.1rem;
        height: 6.9rem;
        top: -12.4rem;
        right: 11.4rem;
      }
    }

    &--left-bottom {
      bottom: 3.9rem;
      left: -28.5rem;

      @media (max-width: $tablet) {
        width: 19.8rem;
        height: 19rem;
        bottom: 4.7rem;
        left: -5.3rem;
      }

      @media (max-width: $mobile) {
        width: 14rem;
        height: 13.4rem;
        bottom: 4rem;
        left: -3.6rem;
      }
    }

    &--bottom {
      bottom: 0;
      left: 22rem;

      @media (max-width: $tablet) {
        width: 9.9rem;
        height: 6.7rem;
        bottom: -1.7rem;
        left: 23.9rem;
      }

      @media (max-width: $mobile) {
        left: 3.3rem;
        bottom: -5.9rem;
        width: 7.9rem;
        height: 5.4rem;
      }
    }

    &--right-bottom {
      bottom: -9.9rem;
      right: -25.9rem;

      @media (max-width: $tablet) {
        width: 23.2rem;
        height: 23.9rem;
        bottom: -13.6rem;
        right: -3.1rem;
      }

      @media (max-width: $mobile) {
        width: 19.2rem;
        height: 20.3rem;
        bottom: -9.3rem;
        right: -2.4rem;
      }
    }

    &--about-left-top {
      top: 3.2rem;
      left: -12rem;

      @media (max-width: $tablet) {
        width: 4rem;
        height: 4rem;
        top: -12.1rem;
        left: 6.2rem;
      }

      @media (max-width: $mobile) {
        display: none;
      }
    }

    &--about-left-bottom {
      bottom: -8.5rem;
      left: -17.5rem;

      @media (max-width: $tablet) {
        width: 11.6rem;
        height: 12.6rem;
        bottom: -18.1rem;
        left: 10.1rem;

      }

      @media (max-width: $mobile) {
        width: 7rem;
        height: 7.4rem;
        bottom: -13.3rem;
        left: 3.4rem;
      }
    }

    &--about-right-bottom {
      bottom: -9.4rem;
      right: -30.5rem;

      @media (max-width: $tablet) {
        width: 26.6rem;
        height: 23.5rem;
        bottom: -25.5rem;
        right: -4rem;
      }

      @media (max-width: $mobile) {
        width: 18.8rem;
        height: 16.5rem;
        bottom: -22.7rem;
        right: -2.5rem;
      }
    }

    &--action-left-bottom {
      bottom: -2.4rem;
      left: 4.4rem;

      @media (max-width: $tablet) {
        width: 3.4rem;
        height: 3.4rem;
        bottom: -1.7rem;
      }

      @media (max-width: $mobile) {
        left: 1.8rem;
        bottom: -2.5rem;
      }


    }

    &--action-left-top {
      top: -2.9rem;
      left: 27.6rem;

      @media (max-width: $tablet) {
        width: 3.4rem;
        height: 3.4rem;
        top: -2rem;
        left: 16rem;
      }

      @media (max-width: $mobile) {
        top: -2.4rem;
        left: 3.5rem;
      }
    }

    &--action-right-top {
      top: -3.6rem;
      right: 24rem;

      @media (max-width: $tablet) {
        width: 3.4rem;
        height: 3.4rem;
        top: -1.6rem;
        right: 15rem;
      }

      @media (max-width: $mobile) {
        top: -2.8rem;
        right: 4.4rem;
      }
    }

    &--action-right-bottom {
      bottom: -3rem;
      right: 1.6rem;
      @media (max-width: $tablet) {
        width: 3.4rem;
        height: 3.4rem;
        bottom: -2rem;
        right: 3rem;
      }

      @media (max-width: $mobile) {
        bottom: -2.5rem;
        right: 1.6rem;
      }
    }
  }

  &__date-time {
    position: absolute;
    right: 7.6rem;
    bottom: 9.8rem;

    @media (max-width: $tablet) {
      width: 24rem;
      height: 10.8rem;
      right: 10.5rem;
      bottom: 14.3rem;
    }

    @media (max-width: $mobile) {
      width: 18.5rem;
      height: 8.3rem;
      right: 1.2rem;
      bottom: 15rem;
    }
  }

  &__title {
    font-family: $pattern;
    font-size: 12.7rem;
    color: $white;
    line-height: 96%;
    font-weight: 500;
  }

  &__about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 86.1rem;
    margin: 0 auto 19.8rem;

    @media (max-width: $tablet) {
      margin: 0 auto 32.7rem;
    }

    @media (max-width: $mobile) {
      margin: 0 auto 28.7rem;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: $pink;

    .container {
      width: 100%;
      position: relative;
    }
  }

  &__action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 44.4rem;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 33px;
    background-color: $white;
    font-size: 3.5rem;
    height: 6.6rem;
    gap: 2rem;
    color: $purple;

    @media (max-width: $tablet) {
      font-size: 2.1rem;
      height: 3.9rem;
      width: 27.1rem;

      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    @media (max-width: $mobile) {
      font-size: 1.8rem;
      height: 3.3rem;
      width: 22.8rem;
      padding-left: 1.5rem;
      gap: 1rem;
      justify-content: flex-start;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__desc {
    text-align: center;
    color: $white;
    font-size: 2.5rem;
    line-height: 1.2;

    &--par1 {
      font-weight: 500;
      margin: 0 0 6.4rem;
      letter-spacing: 0.03rem;
    }

    &--par2 {
      font-weight: 500;
      margin: 0 0 2.5rem;
    }

    &--par3 {
      @include pattern(4.5rem);
      margin: 0 0 1.5rem;
      opacity: 0.8;
    }
    &--par4 {
      max-width: 60rem
    }

    @media(max-width: $tablet) {
      font-size: 1.7rem;
      max-width: 60rem;

      &--par1 {
        margin: 0 0 1.6rem;
      }

      &--par2 {
        margin: 0 0 1.9rem;
      }

      &--par3 {
        font-size: 2.3rem;
      }
    }

    @media(max-width: $mobile) {
      font-size: 1.4rem;
      max-width: unset;

      &--par1 {
        margin: 0 0 5rem;
      }

      &--par2 {
        margin: 0 0 1.9rem;
      }

      &--par3 {
        font-size: 1.9rem;
        margin: 0 0 1.8rem;
      }
    }
  }


}
