.schedule {
  overflow: hidden;
  padding-top: 17rem;
  padding-bottom: 17.5rem;

  @media (max-width: $tablet) {
    padding-top: 6.6rem;
    padding-bottom: 15.5rem;
  }

  @media (max-width: $mobile) {
    padding-top: 10rem;
    padding-bottom: 6.6rem;
  }

  .container {
    max-width: 124rem !important;
    position: relative;

    &.mini {
      max-width: 114rem !important;

      @media (max-width: $tablet) {
        padding: 0 4.2rem;
      }

      @media (max-width: $mobile) {
        padding: 0 2.4rem;
      }
    }
  }


  .title {
    margin-left: 14.2rem;
    margin-bottom: 13rem;

    @media (max-width: $tablet) {
      margin-left: 9.7rem;
      padding-left: 3rem;
      padding-right: 2.6rem;
      margin-bottom: 5rem;
    }

    @media (max-width: $mobile) {
      display: flex;
      margin: 0 auto 4.5rem;
      max-width: 26.9rem;
    }
  }

  &__header {
    display: flex;
    gap: 5.8rem;
    margin: 0 0 16.3rem;

    @media (max-width: $tablet) {
      gap: 2.7rem;
      margin: 0 0 6.5rem;
    }

    @media (max-width: $mobile) {
      flex-flow: column-reverse;
      margin: 0 0 7.5rem;
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    width: 28rem;
    margin-top: -7.9rem;

    img {
      width: 47rem;
      height: auto;
      max-width: unset;
    }

    @media (max-width: $tablet) {
      margin-top: 15.9rem;
      margin-left: -5.5rem;

      img {
        width: 21.4rem;
      }
    }

    @media (max-width: $mobile) {
      width: 33.9rem;
      height: 33.5rem;
      margin-top: -2.5rem;
      margin-left: -5.9rem;

       img {
        width: 100%;
       };

    }
  }

  &__decor {
    position: absolute;
    top: 4rem;
    right: 3.5rem;

    @media (max-width: $tablet) {
      width: 6.8rem;
      height: 8.7rem;
      right: auto;
      top: 3rem;
      left: 11.5rem;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__links {
    max-width: 86rem;
  }

  &__location {
    &:not(:last-child) {
      margin: 0 0 12rem;

      @media (max-width: $tablet) {
        margin: 0 0 5.8rem;
      }

      @media (max-width: $mobile) {
        margin: 0 0 18.4rem;
      }
    }



  }

  &__link {
    @include pattern(4.3rem);
    display: inline-flex;
    position: relative;
    gap: 3.6rem;
    text-decoration: none;
    background-color: $green;
    border-radius: 7.46rem;
    padding: 1rem 4.5rem 1.4rem 3.7rem;
    line-height: 0.9;
    height: 5.5rem;
    transition: background-image 0.2s ease-in;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      border-radius: 7.46rem;
    }

    @media (max-width: $desktop) {
      font-size: 4rem;
    }

    @media (max-width: $tablet) {
      font-size: 2.6rem;
      height: 3.3rem;
      padding: 0.7rem;
      gap: 2.2rem;
      padding-left: 2.1rem;
      padding-right: 3rem;

      img {
        flex-shrink: 0;
        width: 1.4rem;
      }
    }

    @media (max-width: $mobile) {
      display: flex;
      font-size: 1.7rem;
      height: 2.2rem;
      padding: 0.7rem 0.5rem 0.5rem 1.5rem;
      gap: 1.4rem;

      img {
        width: 1rem;
        height: 1rem;
        margin: 0;
      }

    }


    @media (min-width: $desktopFirst) {
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }

    span {
      margin-top: -0.5rem;
    }

    img, span {
      z-index: 5;
    }

    &--parks {
      margin-left: 4rem;
      margin: 0 0 2.5rem 10.3rem;

      &:before {
        background-image: url('../img/backgrounds/parks.png');
      }

      @media (max-width: $tablet) {
        margin: 0 0 1.5rem 5.8rem;
        padding-left: 2.1rem;
        padding-right: 3rem;
        padding-top: 0.9rem;
      }

      @media (max-width: $mobile) {
        margin: 0 auto 1.5rem;
      }

    }

    &--objects {
      background-color: $pink;
      margin: 0 0 2.5rem 20.3rem;

      &:before {
        background-image: url('../img/backgrounds/objects.png');
      }

      @media (max-width: $tablet) {
        margin: 0 0 1.6rem 11.7rem;
        padding-right: 2.5rem;
      }

      @media (max-width: $mobile) {
        margin: 0 auto 1rem;
        max-width: 26.3rem;
        padding: 0.7rem 0.5rem 0.5rem 1.5rem;
      }
    }

    &--centers {
      background-color: $red;
      margin: 0 0 2.5rem;
      padding: .8rem 2rem .9rem 3.7rem;
      width: 100%;

      &:before {
        background-image: url('../img/backgrounds/centers.png');
      }

      @media (max-width: $tablet) {
        padding: .8rem 1rem .9rem 1.9rem;
        margin: 0 0 1.7rem;
        max-width: 34.3rem;
      }

      @media (max-width: $mobile) {
        margin: 0 auto 1rem;
        padding: 0.7rem 0.5rem 0.5rem 1.5rem;
      }
    }

    &--city {
      background-color: $orange;
      margin-left: 10.5rem;

      &:before {
        background-image: url('../img/backgrounds/city.png');
      }

      @media (max-width: $tablet) {
        margin-left: 6rem;
      }

      @media (max-width: $mobile) {
        margin: 0 auto 5rem;
        max-width: 21.7rem;
        padding: 0.7rem 0.5rem 0.5rem 1.5rem;
      }
    }


  }

}
